@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #38bacc;

  --font-poppins: Poppins, sans-serif;

  --breakpoint-xs: 480px;
}

@layer base {
  body {
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    background: #663131;
    border-radius: 40px;
    width: 286px;
    height: 1132px;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  /* Style for medium-sized screens */
  @media (max-width: 1024px) {
    body {
        width: 50vw; /* 50% of the viewport width */
        height: 75vh; /* 75% of the viewport height */
    }
  }

  /* Style for small-sized screens */
  @media (max-width: 768px) {
    body {
        width: 80vw; /* 80% of the viewport width */
        height: 90vh; /* 90% of the viewport height */
    }
  }

  /* Styles for utilities */
  @layer utilities{
    .sidebar{
      @apply w-[286px] h-[1132px] flex-shrink-0 rounded-l-[40px] bg-gradient-to-b from-[#101010] to-transparent;
    }
  }
}
